html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}


/*#8fbdec color of box shadow*/

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #fff;
}

@keyframes bounce {
  0% {
    transform: translateY(-1000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0p);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

body>input[type="radio"] {
  display: none;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  min-width: 1200px;
  background-color: #849d8f;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.page-wrapper::before, .page-wrapper::after {
  content: "";
  visibility: hidden;
}

.page-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.page-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.catalog-bg {
  background-image: url("../img/catalog-bg.png");
  background-repeat: repeat-x;
  background-position: top;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  margin-right: auto;
  margin-top: 4px;
}

.choice {
  margin-top: 3px;
  margin-left: 2px;
  margin-bottom: 37px;
}

.choice form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 910px;
  /*outline: 1px solid red;*/
}

.choice-item, .choice-item select {
  line-height: 18px;
}

.choice fieldset {
  border: none;
  min-height: 73px;
}

.choice fieldset:nth-child(1) {
  -ms-flex-preferred-size: 192px;
  flex-basis: 192px;
}

.choice-sorting {
  position: relative;
}

.choice-sorting select {
  position: relative;
  left: -15px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
  height: 36px;
  padding-left: 16px;
  padding-right: 32px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  -ms-appearance: none;
  appearance: none;
}

.choice-sorting select::-ms-expand {
  display: none;
}

.choice-sorting::after {
  content: "";
  width: 11px;
  height: 10px;
  position: absolute;
  top: 13px;
  right: 28px;
  /*z-index: 30;*/
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #ffffff transparent transparent transparent;
}

.choice-sorting select:hover {
  color: black;
  background-color: #ffffff;
}

.choice-sorting:hover::after {
  content: "";
  border-color: #000000 transparent transparent transparent;
  z-index: 30;
}

.choice-sorting option {
  font-size: 14px;
}

.choice fieldset:nth-child(2) {
  -ms-flex-preferred-size: 217px;
  flex-basis: 217px;
}

.range-filter {
  position: relative;
  left: -27px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
  height: 36px;
  padding-left: 11px;
  padding-right: 15px;
  width: 218px;
  padding: 16px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .2);
}

.scale {
  position: relative;
  height: 4px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, .5);
}

.bar {
  width: 50%;
  height: 4px;
  background-color: #fff;
  margin-left: 33px;
}

.range-btn {
  position: absolute;
  top: -7px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-repeat: no-repeat;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.min {
  left: 14px;
}

.max {
  right: 44px;
}

.choice fieldset:nth-child(3) {
  /*-ms-flex-preferred-size: 386px;*/
  /*flex-basis: 386px;*/
}

.choice-fat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 416px;
  left: -41px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
  height: 36px;
  padding-left: 11px;
  padding-right: 15px;
}

.choice-fat label {
  margin-top: -13px;
  opacity: 0.8;
  cursor: pointer;
  position: relative;
}

.choice-fat label:hover {
  opacity: 1;
}

.choice-fat label:first-of-type {
  margin-top: -11px;
  flex-basis: 70px;
  padding-left: 36px;
}

.choice-fat label::before {
  content: "";
  top: 20px;
  left: -32px;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-image: url("../img/radio-off.svg");
}

.choice-fat input:checked+label::before {
  background-image: url("../img/radio-on.svg");
}

.choice-fat label:nth-of-type(2) {
  flex-basis: 85px;
  padding-left: 23px;
}

.choice-fat label:nth-of-type(3) {
  flex-basis: 85px;
  padding-left: 27px;
}

.choice-fat label:nth-of-type(4) {
  padding-left: 32px;
  flex-basis: 110px;
}

.choice-stuffing {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 700px;
  left: -14px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
  height: 36px;
  padding-left: 11px;
  padding-right: 15px;
}

.choice-stuffing label {
  margin-top: -12px;
  position: relative;
  opacity: 0.8;
  cursor: pointer;
}

.choice-stuffing label:hover {
  opacity: 1;
}

.choice-stuffing label::before {
  content: "";
  top: 21px;
  left: -34px;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 24px 20px;
  background-image: url("../img/checkbox-off.svg");
}

.choice-stuffing input:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.choice-stuffing label:first-of-type {
  padding-left: 35px;
}

.choice-stuffing label:nth-of-type(5) {
  padding-right: 4px;
}

.choice fieldset:nth-child(4) {
  -ms-flex-preferred-size: 697px;
  flex-basis: 697px;
  padding-right: 0;
  margin-right: 0;
}

.choice-button {
  -ms-flex-preferred-size: 143px;
  flex-basis: 143px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .2);
  color: inherit;
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  margin-top: 23px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 0;
  border: 2px solid white;
  vertical-align: middle;
  position: relative;
  margin-right: 52px;
}

legend[class^="legend-choice"] {
  position: relative;
  font-size: 14px;
  line-height: 16px;
}

.legend-choice-price {
  left: -13px;
}

.legend-choice-fat {
  left: -25px;
}

.header-wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  min-width: 580px;
}

.main-menu {
  list-style: none;
  font-size: 0;
  margin-left: -31px;
  margin-top: 22px;
}

.main-menu-item:last-child a {
  letter-spacing: 0.02em;
}

.main-menu-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.main-menu-item:hover>a, .choice-button:hover  {
  background-color: #f7f6f3;
  color: #323232;
}

.main-menu-item:active>a, .choice-button:active {
  /*border-radius: 16px;*/
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  color: #333333;
  border: none;
  /*text-decoration:none;*/
}

.main-menu-item::before {
  content: "";
  position: absolute;
  top: 90%;
  width: 100%;
  height: 20px;
}

.site-navigation {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 7px 14px;
  border-radius: 15px;
}

.catalog-active {
  background-color: #d07058;
}

.site-navigation::after {
  display: block;
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-active::after {
  border: none;
}

.catalog-list {
  position: absolute;
  top: 120%;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.main-menu-item:hover>.catalog-list {
  display: block;
}

.catalog-list-item:first-of-type {
  font-weight: 700;
  line-height: 38px;
  border-bottom: 1px solid #d2d1cf;
}

/*.catalog-list-link:not(:first-child):hover {
  background-color: #cccccc;
}*/

.catalog-list-link {
  display: block;
  min-width: 125px;
  margin-left: 6px;
  margin-right: 8px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #323232;
  text-decoration: none;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.catalog-list {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
  list-style: none;
}

.contacts a, .breadcrumbs a, .social-btn a, .pages-navigation a, .footer-menu a, .footer-copyright a {
  color: #ffffff;
}

.catalog-list span {
  font-weight: 700;
}

.catalog-list-item:hover {
  background-color: #fbded7;
}

.catalog-list-item:focus {
  background-color: #f6b5a5;
}

.catalog-list-item:active {
  background-color: #f6b5a5;
}

.catalog-active-item, .catalog-active-item:hover, .catalog-active-item:focus {
  background-color: #d07058;
}

.catalog-active-item a{
  color: #ffffff;
}

.catalog-list-item:first-of-type:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-list-item:last-of-type:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-wrapper .contacts a:hover, .contacts-phone:focus, .ice-cream-title a:hover, .ice-cream-title a:focus, .breadcrumbs a:hover, .breadcrumbs a:focus, .social a:hover, .social a:focus, .footer-menu a:hover, .footer-menu a:focus, .footer-copyright a:hover, .footer-copyright a:focus {
  color: #ffbc9e;
}

.ice-cream-title a:hover {
  border-bottom: 1px solid rgba(255, 188, 158, .3);
}

.our-blog p:hover, .our-blog p:focus{
  color: #e84d37;

}

.user-menu-item {
  font-size: 14px;
  line-height: 16px;
}

.user-navigation {
  display: flex;
  flex-basis: 255px;
  margin-left: auto;
  padding-top: 23px;
}

.login-form {
  display: none;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-sizing: border-box;
  margin: 0;
  min-height: 214px;
  min-width: 278px;
  padding: 20px 19px;
  position: absolute;
  right: -3px;
  top: 37px;
  position: absolute;
  z-index: 10;
}

.user-navigation-login-form input {
  outline: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  display: block;
  height: 43px;
  width: 240px;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(178, 178, 178, .5);
  margin-bottom: 20px;
  padding-left: 16px;
}

.user-navigation-login-form label {
  position: absolute;
  pointer-events: none;
  transition-duration: .2s;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: 0.2s ease all;
  left: 33px;
}

.email-placeholder {
  top: 29px;
}

.password-placeholder {
  top: 92px;
}

.email-input:focus+label, .password-input:focus+label {
  font-size: 11px;
  color: #8fbdec;
}

.email-input:focus~.email-placeholder {
  top: 0px;
}

.password-input:focus~.password-placeholder {
  top: 63px;
}

.user-navigation-login-form input:focus {
  color: #323232;
  border: 2px solid #8fbdec;
}

.user-search::before, .login::before, .basket::before {
  content: "";
  position: absolute;
  top: 90%;
  min-width: 40px;
  height: 20px;
}

.login::before {
  min-width: 110px;
}

.basket::before {
  min-width: 130px;
}

.login:hover>.login-form {
  display: block;
}

.search, .login>a, .basket>a {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, .2);
  color: inherit;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  padding: 0;
  vertical-align: middle;
  margin-left: 10px;
}

.login>a, .basket>a {
  text-indent: 16px;
}

.search {
  margin: 0;
  width: 32px;
  height: 32px;
  padding-top: 3px;
  padding-left: 7px;
}

.login>.user-menu-item {
  width: 92px;
  height: 32px;
  padding-top: 4px;
}

.login .user-menu-title {
  position: relative;
  bottom: 5px;
  left: 4px;
}

.basket .user-menu-title {
  width: 116px;
  height: 32px;
  position: relative;
  top: -6px;
  left: 4px;
}

.basket>.user-menu-item {
  width: 117px;
  padding-top: 6px;
  line-height: 22px;
}

.user-search {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  display: inline-block;
}

.user-navigation-search-form {
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-sizing: border-box;
  margin: 0;
  min-height: 85px;
  min-width: 342px;
  padding: 21px 16px;
  position: absolute;
  right: -1px;
  top: 36px;
  z-index: 10;
  display: none;
}

.user-navigation-search-form input {
  outline: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  display: block;
  margin: 0 auto;
  height: 42px;
  width: 310px;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(178, 178, 178, .5);
  padding-left: 15px;
}

.user-search:hover>.user-navigation-search-form {
  display: block;
  z-index: 10;
}

.user-navigation-search-form label {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  top: 29px;
  left: 29px;
  pointer-events: none;
  transition-duration: .2s;
  line-height: 24px;
  pointer-events: none;
  color: #999999;
  transition: 0.2s ease all
}


/*.user-navigation-search-form input {
  color: #999999;
}*/

.user-navigation-search-form input:focus {
  color: #323232;
  border: 2px solid #8fbdec;
}

.user-navigation-search-form input:focus~.user-navigation-search-form label {
  top: 0px;
  font-size: 11px;
  color: #8fbdec;
}

.map-container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.map-info>input {
  display: none;
}

.map-info>label {
  color: #fff;
}

.logo {
  position: relative;
  top: 9px;
}

.visually-hidden, input[type=checkbox].visually-hidden, input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-title {
  width: 700px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.sliders {
  position: relative;
  padding-top: 273px;
  text-align: center;
  color: #ffffff;
  min-height: 240px;
  display: flex;
}

.slider {
  margin: 0 auto;
  margin-bottom: 30px;
  display: none;
}

.slider-button {
  display: inline-block;
  padding: 8px 41px 10px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.slider-button, .login-button, .free>a, .fast, .subscription-button, .open-feedback, .feedback-send, .feedback-button, .basket-button-checkout {
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  color: #ffffff;
}

.slider-button:hover, .login-button:hover, .free>a:hover, .fast:hover, .subscription-button:hover, .open-feedback:hover, .feedback-send:hover, .basket-button-checkout:hover, .feedback-button:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button:active, .login-button:active, .free>a:active, .fast:active, .subscription-button:active, .open-feedback:active, .feedback-send:active, .basket-button-checkout:active, .feedback-button:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-input-1:checked~.page-wrapper .slider:first-child, .slider-input-2:checked~.page-wrapper .slider:nth-child(2), .slider-input-3:checked~.page-wrapper .slider:nth-child(3) {
  display: block;
}

.slider-input-1:checked~.page-wrapper label[for="btn-1"], .slider-input-2:checked~.page-wrapper label[for="btn-2"], .slider-input-3:checked~.page-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slider-input-1:checked~.page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-input-2:checked~.page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-input-3:checked~.page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.controls {
  position: absolute;
  bottom: 52px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.controls label:hover{
background-color: rgba(255, 255, 255, 0.4);
border-color: #ffffff;
}

.for-free {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 50px;
}

.for-free .free {
  min-height: 229px;
  flex-basis: 560px;
  border-radius: 15px;
  padding-bottom: 22px;
}

.raspberry {
  background-image: url("../img/raspberry-bgf.jpg");
  background-position: -27px -93px;
  background-color: #a3092d;
}

.chocolate {
  background-image: url("../img/chocolate-bgf.jpg");
  background-position: -218px -103px;
  background-color: #53312a;
}

.free-title {
  font-size: 35px;
  line-height: 41px;
  margin: 16px auto 0 19px;
  padding: 0;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.free p {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 25px 45px 20px;
  padding: 0;
  line-height: 22px;
}

.free>a {
  display: block;
  font-size: 17px;
  line-height: 23px;
  border-radius: 23px;
  margin: auto 21px auto auto;
  width: 165px;
  padding-top: 10px;
  letter-spacing: .04em;
  -webkit-box-sizing: border-box;
  padding-bottom: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.chocolate a {
  width: 188px;
}

.ice-creams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -11px;
}

.ice-creams .popular::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  left: 0;
  top: 0;
  background-image: url("../img/hit.svg");
  z-index: 2;
}

.ice-cream {
  min-height: 362px;
  /*min-width: 267px;*/
  width: 267px;
  position: relative;
  -ms-flex-preferred-size: 267px;
  text-align: center;
  background-color: transparent;
}

.ice-cream:nth-of-type(9) p {
  font-size: 17px;
  padding-top: 2px;
  letter-spacing: -.02em;
}

.ice-cream::before {
  position: absolute;
  /*top: -8px;*/
  /*left: -14px;*/
  /*min-height: 406px;*/
  /*min-width: 294px;*/
  top: -8px;
  right: -14px;
  bottom: -18px;
  left: -14px;
  padding-bottom: 14px;
  display: none;
  content: "";
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.ice-cream:hover {
  z-index: 1
}

.ice-cream:hover::before {
  display: block;
}

.ice-cream-price {
  line-height: 45px;
  font-weight: 700;
  display: block;
  text-align: center;
  position: relative;
  top: -58px;
  left: -58px;
  font-size: 45px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
  z-index: 2;
}

.ice-cream-price svg {
  position: relative;
  top: 4px;
  left: 4px;
}

.ice-cream-price b {
  padding-left: 4px;
  font-size: 30px;
}

.ice-cream-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  width: 260px;
  position: relative;
  margin-top: -37px;
  margin-left: 3px;
  margin-bottom: 14px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.ice-cream-title a {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.ice-cream img {
  min-width: 267px;
  display: block;
  position: relative;
}

.fast {
  vertical-align: top;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  border-radius: 100px;
  padding: 11px 0;
  z-index: 40;
}

.view {
  display: none;
  position: relative;
  width: 200px;
  min-height: 45px;
  z-index: 10;
  margin-bottom: 0;
  left: 12.5%;
}

.ice-cream:hover>.view {
  display: block;
}

.about-us {
  background-image: url("../img/waffle.jpg");
  background-color: #efe3cb;
  border-radius: 15px;
  padding: 0;
  min-height: 306px;
  border-top: 1px solid transparent;
}

.about-us .features {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 75px;
  position: relative;
  z-index: 10;
  /*max-height: 201px;*/
  color: #323232;
  font-weight: 400;
  list-style: none;
}

.features-title {
  font-size: 24px;
  margin: 23px 0 22px 20px;
  padding: 0;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  letter-spacing: .004em;
  font-family: "Roboto", "Arial", sans-serif;
}

.about-us-description {
  letter-spacing: 0.0001em;
  margin-bottom: 25px;
  position: relative;
}

.about-us-description:nth-child(1)::before, .about-us-description:nth-child(2)::before, .about-us-description:nth-child(3)::before, .about-us-description:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
}

.about-us-description:nth-child(1) {
  padding-top: 2px;
  letter-spacing: 0.003em;
  flex-basis: 482px;
}

.about-us-description:nth-child(1)::before {
  background-image: url("../img/ice-cream.svg");
  top: -11px;
  /*left: 20px;*/
  left: -55px;
}

.about-us-description:nth-child(2) {
  padding-top: 2px;
  margin-left: 86px;
  letter-spacing: 0.002em;
  flex-basis: 470px;
}

.about-us-description:nth-child(2)::before {
  background-image: url("../img/cow.svg");
  top: -12px;
  /*left: 586px;*/
  left: -58px;
}

.about-us-description:nth-child(3) {
  margin-top: -2px;
  letter-spacing: 0.005em;
  flex-basis: 482px;
}

.about-us-description:nth-child(3)::before {
  background-image: url("../img/eco.svg");
  top: -12px;
  left: -55px;
}

.about-us-description:nth-child(4) {
  margin-top: -2px;
  margin-left: 86px;
  letter-spacing: 0.001em;
  flex-basis: 482px;
}

.about-us-description:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");
  top: -13px;
  left: -58px;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.news .our-blog {
  flex-basis: 560px;
  min-height: 220px;
  border-radius: 15px;
  background-image: url("../img/stawberry.jpg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: -26px -37px;
}

.our-blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
}

.our-blog a:hover, .our-blog a:focus {
  color: #e84d37;
}

.our-blog p {
  display: block;
  margin: 3px 0 0 20px;
  width: 290px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  text-decoration: underline;
}

.blog-title {
  margin: 23px 0 4px 20px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.news .subscription {
  flex-basis: 560px;
  min-height: 220px;
  border-radius: 15px;
  border-color: #849d8f;
}

.subscription {
  background-image: url("../img/postbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription form {
  border: 1px solid transparent;
  background-color: #f8f7f4;
  border-radius: 11px;
  margin: 5px auto;
  width: 550px;
  min-height: 210px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-bottom: 30px;
}

.subscription p {
  color: #5a5a5a;
  font-weight: 400;
  margin: 28px 10px 0 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.001em;
  padding-top: 1px;
  margin-left: -1px;
}

.subscription-button {
  position: relative;
  /*top: -67px;*/
  left: 371px;
  bottom: 4px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.subscription-input {
  display: inline-block;
}

.subscription-email {
  display: inline-block;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 36px;
  padding-left: 15px;
  width: 368px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, .5);
  border-radius: 5px;
  outline: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.subscription-button {
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
  width: 129px;
  color: #fff;
  padding-bottom: 12px;
  border: none;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 24px;
  padding-top: 8px;
  border-radius: 23px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #ca3824 0, #f26843 100%);
  background-image: -o-linear-gradient(bottom, #ca3824 0, #f26843 100%);
  background-image: linear-gradient(to top, #ca3824 0, #f26843 100%);
  -webkit-box-shadow: 0 2px 2px rgba(85, 8, 0, .54);
  box-shadow: 0 2px 2px rgba(85, 8, 0, .54);
}

.subscription-input input:focus {
  color: #323232;
  border: 2px solid #8fbdec;
}

.subscription-input input:focus~.subscription-label {
  top: 27px;
  font-size: 11px;
  color: #8fbdec;
}

.subscription-wrap {
  position: relative;
  /*top: -12px;
  left: -22px;*/
  margin: -11px auto -52px -22px;
}

.subscription-label {
  position: absolute;
  pointer-events: none;
  font-weight: 400;
  line-height: 24px;
  left: 35px;
  top: 58px;
  color: #999999;
  transition: 0.2s ease all;
}

.subscription-input {
  padding: 12px 0 12px 20px;
}

.map {
  display: block;
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin-top: 38px;
  margin-bottom: -4px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #ece5c8;
}

.map-info {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  z-index: 10;
  display: block;
  position: absolute;
  right: 27px;
  top: 65px;
  width: 302px;
  min-height: 305px;
  align-self: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 31px 25px 25px
}

.map-info-contacts {
  min-width: 222px;
}

.map-info-contacts span {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
}

.map-info-contacts:nth-of-type(1) span {
  margin-bottom: 1px;
  margin-top: 19px;
  display: block;
  width: 148px;
  position: relative;
  top: -1px;
}

.map-info-contacts:nth-of-type(2) span:nth-of-type(1) {
  position: relative;
  top: -1px;
  margin-bottom: 4px;
  display: block;
}

.map-info-contacts:nth-of-type(2) span:nth-of-type(2) {
  position: relative;
  margin-bottom: 25px;
  display: block;
}

.feedback-button {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 21px;
  width: 252px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 23px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  padding-top: 29px;
  width: 220px;
  font-weight: 400;
  margin-right: auto;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: 700;
}

.basket-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.basket-button-checkout {
  display: block;
  font-size: 17px;
  line-height: 23px;
  border-radius: 23px;
  width: 170px;
  letter-spacing: .04em;
  -webkit-box-sizing: border-box;
  height: 44px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", "Arial", sans-serif;
  border: none;
  margin-left: auto;
  margin-top: 11px;
  margin-right: 14px;
}

.contacts {
  position: absolute;
  top: 63px;
  right: 26px;
}

.contacts .contacts-schedule {
  font-size: 14px;
  line-height: 6px;
  font-weight: 700;
  padding-left: 15px;
}

.contacts a {
  text-decoration: none;
}

.contacts-phone {
  font-size: 22px;
  line-height: 16px;
  font-weight: 700;
}

.user-navigation div {
  height: 32px;
}

.login {
  position: relative;
  display: inline-block;
  height: 100px;
}

.login a:first-child {
  display: block;
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
}

.login-button {
  font-size: 18px;
  font-weight: 700;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
  width: 100px;
  height: 44px;
  font-family: "Roboto", "Arial", sans-serif;
}

.login-form a {
  position: relative;
  text-decoration: underline;
}

.login-form a:first-of-type {
  top: -45px;
  left: 120px;
}

.login-form a:nth-of-type(2) {
  top: -23px;
  left: 16px;
}

.basket-form {
  display: none;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-sizing: border-box;
  margin: 0;
  min-height: 242px;
  height: auto;
  width: 540px;
  position: absolute;
  right: 27px;
  top: 59px;
  position: absolute;
  z-index: 10;
  padding-top: 6px;
  padding-left: 4px;
}

.basket>.catalog-basket {
  background-color: #fff;
  color: #000;
}

.basket:hover .basket-form {
  display: block;
}

.basket-table {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.basket-table tr {
  position: relative;
}

.column0, .column1, .column4, .column2, .column3, .column-last {
  vertical-align: baseline;
  height: 32px;
}

.column2, .column3 {
  text-align: right;
}

.column1, .column4 {
  text-align: center;
}

.column0 {
  width: 34px;
  text-align: center;
}

.column0::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 11px;
  height: 11px;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 50;
}

.column1 {
  width: 33px;
}

.column1 img {
  position: relative;
  top: 11px;
}

.column2 {
  width: 227px;
  text-align: justify;
  padding-left: 10px;
}

.column3 {
  width: 126px;
}

.column4 {
  width: 98px;
}

.column-last {
  position: relative;
  vertical-align: bottom;
  text-align: right;
  padding-top: 29px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.008em;
  padding-right: 4px;
}

.column-last>div {
  display: block;
  position: absolute;
  width: 510px;
  height: .001em;
  border-top: .14rem solid #ccccc9;
  top: 11px;
  right: 4px;
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.302);
  z-index: 10;
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -237px;
  margin-top: -225px;
  width: 478px;
  height: 442px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-sizing: border-box;
  padding: 16px 8px;
}

.modal form {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.modal button[type="reset"] {
  position: absolute;
  top: -1px;
  right: 8px;
  border: none;
  outline: 0;
  display: block;
  height: 17px;
  width: 18px;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-color: #f8f7f4;
}

.modal legend {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal fieldset {
  border: none;
}

.modal textarea {
  display: block;
  border: 1px solid #ccc;
  color: #999999;
  border-radius: 6px;
}

.modal input[class^="feedback"] {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  padding-left: 14px;
  color: #323232;
}

.modal label {
  position: relative;
  pointer-events: none;
  color: #999999;
  transition: 0.2s ease all;
  font-size: 16px;
  font-weight: 400;
  left: 30px;
}

.modal .feedback-name, .modal .feedback-email {
  display: block;
  height: 43px;
  width: 267px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.modal .feedback-name {
  margin-top: 13px;
}

.feedback-name+label, .feedback-email+label {
  top: -33px;
  left: 15px;
}

.feedback-comment+label {
  top: -147px;
  left: 15px;
}

.modal .feedback-email {
  margin-top: -3px;
}

.modal .feedback-comment {
  margin-top: -3px;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 10px 14px;
  color: #323232;
  border-radius: 6px;
  height: 155px;
  width: 428px;
  resize: none;
}

.modal .feedback-send {
  height: 44px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 290px;
  border: none;
  width: 140px;
  font-family: "Roboto", "Arial", sans-serif;
}

.modal input:focus, .modal textarea:focus {
  color: #323232;
  border: 2px solid #8fbdec;
}

.modal .feedback-name:focus+label, .modal .feedback-email:focus+label {
  top: -65px;
  font-size: 11px;
  color: #8fbdec;
}

.modal-show {
  display: block;
}

.form-show {
  animation-name: bounce;
  animation-duration: .6s;
}

.form-error {
  animation-name: shake;
  animation-duration: .6s;
}

.pages-navigation {
  position: relative;
  display: flex;
  margin-right: 20px;
  min-width: 150px;
  padding-bottom: 31px;
  justify-content: space-between;
  line-height: 18px;
  align-items: flex-end;
  min-height: 100px;
  margin-left: auto;
  line-height: 18px;
}

.page-number:link {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  background-color: transparent;
}

.page-number:nth-child(2) {
  color: black;
  background-color: white;
}

.page-number:hover {
  color: inherit;
  background-color: rgba(255, 255, 255, .2);
}

.page-number:active {
  color: black;
  background-color: white;
}

.pages-navigation .prev::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 50px;
  left: -20px;
  z-index: 20;
  background-image: url("../img/icon-right-small.svg");
  transform: rotate(180deg);
  opacity: 0.5;
}

.pages-navigation .prev::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 50px;
  right: -20px;
  z-index: 20;
  background-image: url("../img/icon-right-small.svg");
  opacity: 1;
}

.footer-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-end;
  padding-bottom: 24px;
}

.main-wrapper>.divider {
  display: block;
  position: relative;
  margin: auto;
  -ms-flex-preferred-size: 1146px;
  width: 1146px;
  height: .01em;
  border-bottom: .01rem solid #ccccc9;
  bottom: 2px;
}

.social {
  flex-basis: 148px;
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 185px;
  min-height: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /*padding-top: 22px;*/
  margin-left: 1px;
}

.social-btn {
  margin-top: 4px;
  display: block;
  width: 38px;
  height: 38px;
  fill: rgba(255, 255, 255, .8);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, .5);
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

.footer-menu {
  position: relative;
  width: 330px;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 2px;
  line-height: 22px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-menu a {
  min-height: 22px;
  text-decoration: underline;
}

.footer-menu a:nth-of-type(odd) {
  padding-left: 20px;
}

.footer-menu a:nth-of-type(2) {
  padding-left: 31px;
}

.footer-menu a:nth-of-type(4) {
  padding-left: 44px;
}

.footer-menu a:first-of-type::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: -1px;
  top: 32px;
  background-image: url("../img/heart.svg");
}

.footer-copyright {
  flex-basis: 200px;
}

.footer-copyright>a {
  position: relative;
  top: 18px;
  left: 11px;
}

.copyright-link {
  text-decoration: underline;
}

.footer-copyright p {
  position: relative;
  top: 7px;
  right: -11px;
}
