body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;

}



.hidden {
  display: none;
}

.slider-2, .slider-3, .catalog-list, .visually-hidden, .search input,  .modal, .choice-sorting, .basket-table {
  display: none;
}

.login * {
  display: none;
}

.login a:first-child{
  display: block;
}

.slider-title {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.free-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.slider-input-1:checked~.page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-input-2:checked~.page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-input-3:checked~.page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.catalog-list {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
  list-style: none;
}

.site-navigation, .catalog-list a, .contacts a, .breadcrumbs a, .social-btn a, .pages-navigation a, .footer-menu a, .footer-copyright a {
  color: #ffffff;
}

.catalog-list span {
  font-weight: 700;
}

.catalog-list a:hover {
  background-color: #fbded7;
}

.catalog-list a:focus {
  background-color: #f6b5a5;
}

.catalog-list a:active {
  background-color: #d07058;
}

.contacts-phone:hover, .contacts-phone:focus, .social a:hover, .social a:focus, .footer-menu a:hover, .footer-menu a:focus, .footer-copyright a:hover, .footer-copyright a:focus {
  color: #ffbc9e;
}

.user-main {
  font-size: 14px;
  line-height: 16px;
}

.login a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
}

.login-button {
  font-size: 18px;
  font-weight: 700;
}

.contacts-shedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.contacts a {
  text-decoration: none;
}

.contacts-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.free p {
  font-size: 18px;
  font-weight: 700;
}

.free a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.ice-cream-price {
  line-height: 45px;
  font-weight: 700;
}

.ice-cream p {
  text-decoration: underline;
}

.ice-cream a {
  text-decoration: none;
  color: #ffffff;
}

.features {
  color: #323232;
  font-weight: 400;
  list-style: none;
}

.our-blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
}

.our-blog a:hover, .our-blog a:focus {
  color: #e84d37;
}

.subscription p {
  color: #5a5a5a;
  font-weight: 400;
}

.subscription-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map-info {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
}

.map-info-contacts span {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
}

.footer-menu {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.modal legend {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.legend-choice {
  font-size: 14px;
  line-height: 16px;
}

.choice-item, .choice-item select {
  line-height: 18px;
}

.pages-navigation {
  line-height: 18px;
}

.basket-table {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: 700;
}

.checkout-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.raspberry {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
}

.chocolate {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
}

.about-us {
  background-image: url("../img/wafer-bg.jpg");
  background-repeat: no-repeat;
}

.our-blog {
  background-image: url("../img/stawberry.jpg");
  background-repeat: no-repeat;
}

.subscription {
  background-color: #f8f7f4;
  border: 5px solid #ffffff;
  border-image: url("../img/post-bg.jpg") 5 round;
}


/*----------------- FLEX -----------------*/
.container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 1200px;
  padding: 0 27px;
}

.contacts {
  position: absolute;
  top: 75px;
  left: 1173px;
  width: 167px;
  height: 38px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  /*background: blue;
  opacity: 0.5;*/
}

.main-navigation{
  display: flex;
  align-items:center;
  width: 560px;
  /*background: yellow;
  opacity: 0.5;*/

}



.page-wrapper {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;

  /*height: 5000px;*/
  /*outline: 1px solid red;
  background-image: url("../img/gllacy-index-1200.jpg");
  background-repeat: no-repeat;*/
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*opacity: 0.5;
  background: green;*/

}

.sliders {
  height: 240px;
  /*opacity: 0.5;*/
  display: flex;
  margin: 0 27px;
  margin-top: 260px;
  /*background-color: green;*/
}

.for-free {
  display: flex;
  width: 1200px;
  /*margin: 0 27px;*/
  /*opacity: 0.5;*/
  margin-top: 26px;
  justify-content: space-between;
  height: 230px;
  margin-bottom: 20px;
  /*background: red;*/
}

.for-free .free {
  /*opacity: 0.5;
  background: yellow;*/
  height: 230px;
  width: 560px;
}

.ice-creams {
  display: flex;
  width: 1200px;
  /*margin: 0 27px;*/
  /*opacity: 0.5;*/
  justify-content: space-between;
  /*height: 336px;*/
  /*margin-top: 40px;*/
  /*background: yellow;*/
  flex-wrap: wrap;
  /*clear: both;*/
  padding-top: 18px;
}

.ice-creams .ice-cream {
  /*opacity: 0.5;
  background: blue;*/
  height: 336px;
  width: 267px;
  /*margin-bottom: 28px;*/
  /*outline: 1px solid red;*/
}

.about-us {
  display: flex;
  flex-direction: column;
  /*margin: 0 27px;*/
  width: 1200px;

  /*opacity: 0.5;*/
  margin-top: 26px;
  height: 306px;
  /*background: yellow;*/
}


/*.about-us * {
  opacity: 0.5;
}*/

.about-us .features-title {
  width: 1146px;
  min-height: 90px;
  margin: 0;
  /*background-color: blue;*/
}

.about-us .features {
  /*background: purple;*/
  height: 216px;
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/
  margin: 0;
}



/*------------------------------------------------------*/

.news {
  display: flex;
  /*margin: 0 27px;*/
  /*opacity: 0.5;*/
  margin-top: 40px;
  justify-content: space-between;
  height: 220px;
  width: 1200px;
  /*background-color: red;*/
}

.news .our-blog {
  /*background-color: skyblue;*/
  width: 560px;
  height: 220px;
}

.news .subscription {
  /*background-color: yellow;*/
  width: 550px;
  height: 210px;
}


.map {
  display: block;
  position: relative;
  width: 100%;
  height: 430px;
  margin-top: 40px;
  justify-content: flex-end;
}

.map-info {
  display: block;
  position: relative;
  left: 950px;
  top: -360px;
  width: 302px;
  height: 305px;
  /*background: white;*/
  border-radius: 10px;
  align-self: center;
  margin-right: 27px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  /*background-color: black;
  opacity: 0.5;*/
}

.social {
  width: 148px;
}

.footer-menu {
  width: 360px;
}

.footer-copyright {
  width: 200px;
}

.social a {
  display: none;
}
/*
.logo {
  position: absolute;
  left: 27px;
  top: 9px;
}*/
/*
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 120px;
  margin: 0 27px;
  /*outline: 1px solid maroon;*/
}*/
/*
.main-navigation div {
  height: 60px;
  /*outline: 1px solid blue;
  opacity: 0.5;*/
}*/

/*.main-navigation .site-navigation {
  width: 650px;
  margin-left: 160px;
  /*background-color: green;*/
}*/

/*.main-navigation .user-navigation {
  width: 280px;
  margin-left: auto;
  /*background-color: purple;*/
}*/

/*.main-navigation .contacts {
  width: 200px;
  /*background-color: yellow;*/
}*/


/*--------------------*/




/*.sliders * {
  opacity: 0.5;
}*/

/*.sliders .controls {
  width: 80px;
  background: red;
  height: 64px;
  margin-bottom: 8px;
  margin-top: auto;
}*/

/*.slider-1, .slider-2, .slider-3 {
  width: 986px;
  background: blue;
}*/


/*--------------------*/





/*.for-free .free:last-child {
  background: maroon;
}*/


/*--------------------*/

/*.features li{
  display: block;
  width: 50%;
  height: 60px;
  float: left;
  outline: 1px solid blue;
  margin: 0;
}
*/


/*.features li:nth-of-type(2n+1) {
  background: red;
}

.features li:nth-of-type(2n) {
  /*background: green;*/



/*--------------------*/




/*--------------------*/



/*--------------------*/

/*.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 27px;
  /*opacity: 0.5;*/
  /*background: red;*/

}*/


/*.main-footer * {
  opacity: 0.5;
  background: yellow;
}*/




/*-------------------------------*/

.catalog-title {
  /*opacity: 0.5;
  background: red;*/
  margin: 0 27px;
}


/*-------------------------------*/

.choice {
  margin-bottom: 10px;
}

.choice form {
  display: flex;
  margin: 0 27px;
  margin-top: 20px;
  /*opacity: 0.5;
  background: red;*/
  /*height: 160px;*/
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  /*justify-content: flex-start;*/
  width: 858px;
}

.choice fieldset {
  padding: 0;
  /*opacity: 0.5;
  background: blue;*/
  height: 70px;
}

.choice fieldset:nth-child(1) {
  width: 187px;
}

.choice fieldset:nth-child(2) {
  width: 217px;
}

.choice fieldset:nth-child(3) {
  width: 414px;
}

.choice fieldset:nth-child(4) {
  width: 697px;
}

.choice button {
  width: 140px;
}


/*-------------------------------*/

.pages-navigation {
  line-height: 18px;
  /*opacity: 0.5;
  background: black;*/
  height: 28px;
  margin: 0 27px;
  margin-top: 36px;
  margin-bottom: 29px;
  display: flex;
  justify-content: flex-end;
}

.pages-navigation a {
  /*opacity: 0.5;
  background: blue;*/
  width: 26px;
  height: 26px;
  margin-left: 2px;
}
