html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  background-color: #849d8f;
}

.hidden {
  display: none;
}

.slider-2, .slider-3, .catalog-list, .visually-hidden, .search input, .modal, .choice-sorting, .basket-table {
  display: none;
}

.login * {
  display: none;
}

.login a:first-child {
  display: block;
}

.slider-title {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.free-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  margin-right: auto;
}

.slider-input-1:checked~.page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-input-2:checked~.page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-input-3:checked~.page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.catalog-list {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
  list-style: none;
}

.site-navigation, .catalog-list a, .contacts a, .breadcrumbs a, .social-btn a, .pages-navigation a, .footer-menu a, .footer-copyright a {
  color: #ffffff;
}

.catalog-list span {
  font-weight: 700;
}

.catalog-list a:hover {
  background-color: #fbded7;
}

.catalog-list a:focus {
  background-color: #f6b5a5;
}

.catalog-list a:active {
  background-color: #d07058;
}

.contacts-phone:hover, .contacts-phone:focus, .ice-cream a:hover, .ice-cream a:focus, .social a:hover, .social a:focus, .footer-menu a:hover, .footer-menu a:focus, .footer-copyright a:hover, .footer-copyright a:focus {
  color: #ffbc9e;
}

.user-main {
  font-size: 14px;
  line-height: 16px;
}

.login a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
}

.login-button {
  font-size: 18px;
  font-weight: 700;
}

.contacts-shedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.contacts a {
  text-decoration: none;
}

.contacts-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.free p {
  font-size: 18px;
  font-weight: 700;
}

.free a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.ice-cream-price {
  line-height: 45px;
  font-weight: 700;
}

.ice-cream p {
  text-decoration: underline;
}

.ice-cream a {
  text-decoration: none;
  color: #ffffff;
}

.features {
  color: #323232;
  font-weight: 400;
  list-style: none;
}

.our-blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
}

.our-blog a:hover, .our-blog a:focus {
  color: #e84d37;
}

.subscription p {
  color: #5a5a5a;
  font-weight: 400;
}

.subscription-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map-info {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
}

.map-info-contacts span {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
}

.footer-menu {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.modal legend {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.legend-choice {
  font-size: 14px;
  line-height: 16px;
}

.choice-item, .choice-item select {
  line-height: 18px;
}

.pages-navigation {
  line-height: 18px;
}

.basket-table {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: 700;
}

.checkout-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.raspberry {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
}

.chocolate {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
}

.our-blog {
  background-image: url("../img/stawberry.jpg");
  background-repeat: no-repeat;
}

.subscription {
  background-color: #f8f7f4;
  border: 5px solid #ffffff;
  border-image: url("../img/post-bg.jpg") 5 round;
}


/*----------------- FLEX -----------------*/

.contacts {
  position: absolute;
  top: 75px;
  right: 27px;
}

.breadcrumbs {
  position: absolute;
  top: 75px;
  left: 27px;
}


.header-wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.main-navigation {
  display: flex;
  align-items: center;
  flex-basis: 560px;
}

.user-navigation {
  display: flex;
  flex-basis: 265px;
  margin-left: auto;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sliders {
  min-height: 240px;
  display: flex;
  padding-top: 260px;
}

.for-free {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.for-free .free {
  min-height: 230px;
  flex-basis: 560px;
}

.ice-creams {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 18px;
}

.ice-creams .ice-cream {
  min-height: 336px;
  flex-basis: 267px;
}

.about-us {
  background-image: url("../img/wafer-bg.jpg");
  background-size: cover;
}


.about-us .features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features li {
  flex-basis: 560px;
  padding-left: 75px;
}


/*------------------------------------------------------*/

.news {
  display: flex;
  justify-content: space-between;
}

.news .our-blog {
  flex-basis: 560px;
  min-height: 220px;
}

.news .subscription {
  flex-basis: 560px;
  min-height: 220px;
}

.map {
  display: block;
  position: relative;
  width: 100%;
  height: 430px;
  margin-top: 40px;
  justify-content: flex-end;
}

.map-info {
  display: block;
  position: relative;
  left: 950px;
  top: -360px;
  width: 302px;
  min-height: 305px;
  border-radius: 10px;
  align-self: center;
  margin-right: 27px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  flex-basis: 148px;
}

.footer-menu {
  flex-basis: 360px;
}

.footer-copyright {
  flex-basis: 200px;
}

.checkout-button {
  display: none;
}

/*-------------------------------*/
.choice {
  margin-bottom: 10px;
}
.choice form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 858px;
}
.choice fieldset {
  min-height: 70px;
}
.choice fieldset:nth-child(1) {
  flex-basis: 187px;
}
.choice fieldset:nth-child(2) {
  flex-basis: 217px;
}
.choice fieldset:nth-child(3) {
  flex-basis: 414px;
}
.choice fieldset:nth-child(4) {
  flex-basis: 697px;
}
.choice button {
  flex-basis: 140px;
}

/*-------------------------------*/
.pages-navigation {
  display: flex;
  width: 205px;
  justify-content: space-between;
  line-height: 18px;
  align-items: flex-end;
  min-height: 100px;
  margin-left: auto;
}
